@font-face {
    font-family: norse-bold;
    src: url("assets/Norse-Bold.otf");
}

body {
    margin: 0;
    font-family: 'Arial';
}

.left, .right, .signup-content {
    display: flex;
    margin: 0;
}

.left {
    flex: 0.4;
    background-image: url("assets/josh-hild-cvi752mY6eA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.left-banner {
    height: 25%;
    width: 100%;
    background-color: rgba(0,0,0, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 85%;
}

.company-text {
    color: white;
    font-family: norse-bold;
    font-size: 20cqh;
    /* change font size later */
}

.right {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-image: linear-gradient(180deg, rgb(157, 203, 240), rgb(255, 255, 255));
}

.right-A, .right-B, .right-C {
    flex: 1;
}

.appeal-container {
    width: 80%;
}

.input-container {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

input {
    display: inline-block;
}

.button-div {
    width: 100px;
    height: 32px;;
}

.create-account {
    background-color: #596D48;
    color: white;
    width: 100%;
    height: auto;
}

.prompt {
    color: black;
    font-weight: bold;
    width: 100%;
}

.sign-in-text {
    color: steelblue;
    text-decoration-line: none;
}

.encouragement {
    font-weight: bold;
    font-size: 1.5rem;
}

.user-inputs {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.input-field {
    display: inline-block;
}

label, input {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 75%;
    font-weight: bold
}

input {
    border-radius: 5px;
}