@font-face {
    font-family: norse-bold;
    src: url("assets/Norse-Bold.otf");
}

body {
    margin: 0;
}

.left, .right, .signup-content {
    display: flex;
    margin: 0;
}

.left {
    flex: 0.4;
    background-image: url("assets/josh-hild-cvi752mY6eA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

.left-banner {
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 85%;
}

.company-text {
    color: white;
    font-family: norse-bold;
    font-size: 
    /* change font size later */
}

.right {
    flex: 0.6;
    display: flex;
    flex-direction: column;
}

.right-A, .right-B, .right-C {
    flex: 1;
}

.right-A {
    background-image: linear-gradient(180deg, rgb(157, 203, 240), rgb(255, 255, 255));
}

.button-div {
    width: 100px;
    height: 32px;;
}

.create-account {
    background-color: #596D48;
    color: white;
    width: 100%;
    height: auto;
}